@font-face {
  font-family: "Cinzel";
  src: url("/fonts/Cinzel-VariableFont_wght.ttf") format("truetype");
  font-weight: 200 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "B Titr";
  src: url("/fonts/b-titr-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
